@font-face {
    font-family: "Hind";
    src: url(’…/fonts/Hind-Light);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "Hind";
    src: url(’…/fonts/Hind-Regular’);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Hind";
    src: url(’…/fonts/Hind-Medium’);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Hind";
    src: url(’…/fonts/Hind-Semibold’);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Hind";
    src: url(’…/fonts/Hind-Bold’);
    font-weight: bold;
    font-style: normal;
}
