.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.nav-link {
  text-transform: uppercase;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

header {
  .bg-dark {
    background-color: $black !important;
  }
}

.banner {
  .brand {
    background-image: url("../images/ingatestone-farrier-logo.jpg");
    background-repeat: no-repeat;
    background-size: auto auto;
    background-size: contain;
    display: block;
    height: 100px;
    max-width: 350px;
    width: 100%;
    margin: 15px;
    font-size: 0/0;
    text-shadow: none;
    color: transparent;
  }
}
